{
  "groupname":"Groupname", 
  "onstart":"This will be shown in the very beginning",
  "onpast":"This will be shown when user pass the test",
  "onfail":"This will be shown when user fail the test",
  "probation":1,
  "grouphint":"欢迎{}加入\n客服1. 手机App-我的-帮助中心-在线客服\n客服2. 币安官网-右上角\"帮助中心\"-提交工单\n❌管理不是客服 ❌也不主动小窗 ❌除非你先小窗\n❌小窗不发网址 ❌更不让你转币 ❌否则全是骗子\n新用户点击右边链接完成入群测试方可发言",
  "puzzles":
  [
    {
      "question":"question text",
      "options":
      [
        ["A","answer 1"],
        ["B","answer 2"],
        ["C","answer 3"],
        ["D","answer 4"]
      ],
      "answer":"D",
      "postcorrect":"This will be shown when answered correctly",
      "postincorrect":"This will be shown when wrongly answered, give some hint"
    },
    {
      "question":"This the question 2",
      "options":
      [
        ["A","answer 1, the 'A' will not be shown"],
        ["B","answer 2"],
        ["C","answer 3"],
        ["D","answer 4"]
      ],
      "answer":"D",
      "postcorrect":"This will be shown when answered correctly",
      "postincorrect":"This will be shown when wrongly answered, give some hint"
    },
    {
      "question":"This the question 3",
      "options":
      [
        ["A","answer 1, the 'A' will not be shown"],
        ["B","answer 2"],
        ["C","answer 3"],
        ["D","answer 4"]
      ],
      "answer":"D",
      "postcorrect":"This will be shown when answered correctly",
      "postincorrect":"This will be shown when wrongly answered, give some hint"
    }
  ]
}
